@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    max-width: 1440px;
    min-width: 640px;
    margin: auto;
    background-color: #0C0C0E;
}

header button:hover svg path,
a:hover svg path {
    fill: #BB945F;
}

button:hover svg path,
button:hover svg line {
    stroke: #BB945F;
}

.about-images-carousel-carret-buttons[disabled] svg path {
    stroke: #8E8E8E;
}

a svg path,
button svg line,
button svg path,
button,
a {
    transition: 200ms linear;
    text-decoration: none;
}

header button,
.close-modal,
.auth-footer-link,
.about-carousel button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

/* header */
header {
    color: #FFFFFF;
    height: auto;
    background: #0C0C0E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    z-index: 2;
}

.logo {
    margin: 0px;
    width: 294px;
}

h1 {
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin: auto;
}

.header-rightpart {
    display: inline-flex;
    align-items: center;
    gap: 40px;
}

.nav {
    width: 584px;
    height: 50px;
    display: flex;
}

.nav-list {
    display: inline-flex;
    align-items: center;
    padding-inline-start: 0px;
    gap: 30px;
    margin: auto;
    list-style: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.nav-list-item {
    color: #FFF;
    font-family: Inter;
    font-weight: 400;
}

.nav-list :hover {
    color: #BB945F;
}

.profile {
    height: 28px;
    width: 28px;
    display: flex;
}

.profile-container {
    display: flex;
    justify-content: end;
}

.profile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 80px;
    height: 90px;
    background-color: #FFF;
    z-index: -2;
    transition: all 300ms;
    padding: 5px 0px 20px;
    margin-top: 28px;
    opacity: 0;
}

.profile-menu.menu-active {
    z-index: 2;
    opacity: 1;
}

.profile-menu-heading {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 4px;
}

.profile-menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-menu-button {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.profile-menu-button:hover {
    color: #BB945F;
}

.profile-heading-underline {
    width: 40px;
    height: 1px;
    background: #BB945F;
    margin-bottom: 15px;
}

.hamburger-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.hamburger-menu {
    display: none;
    justify-content: center;
    align-items: center;
}

.icon-cross {
    display: none;
}

/* welcome */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.welcome {
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 50%),
        url(./assets/images/Welcome.jpeg) lightgray 50% / cover no-repeat;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.welcome-container {
    background: #0C0C0E;
    display: flex;
    width: 520px;
    height: 150px;
    padding: 35px 40px 35px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 60px 0px 0px 0px;
}

.welcome-text {
    width: 520px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* section */

.section-container {
    height: auto;
    width: auto;
    padding: 20px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFF;
    gap: 40px;
}

.section-heading {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section-heading h2 {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 0%;
    text-align: center;
    margin: 0%;
}

.section-heading-underline {
    width: 50px;
    height: 1px;
    background: #0C0C0E;
}

/* about */
.about-content {
    height: auto;
    background: #FFF;
    display: flex;
    width: auto;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.about-text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    width: 100%;
}


.about-images {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.about-carousel {
    width: auto;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
}

.about-images-container {
    display: flex;
    overflow: hidden;
}

.about-carousel-images {
    width: auto;
    height: 560px;
    display: flex;
    gap: 25px;
    padding: 0%;
    margin: 0%;
    transition: transform 0.3s ease-in-out;
}

.about-images-carousel-carret-buttons {
    display: none;
    align-content: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.carousel-image {
    width: 100%;
    height: 100%;
}

.about-pagination {
    display: inline-flex;
    justify-content: center;
    margin-bottom: -5px;
}

#radio4 {
    display: none;
}

#radio5 {
    display: none;
}

.about-pagination-button {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
}

.about-pagination input[type=radio] {
    visibility: hidden;
    position: relative;
    margin: 0%;
    width: 16px;
    height: 16px;
}

.about-pagination input[type=radio]:hover {
    cursor: pointer;
}

.about-pagination input[type=radio]:before {
    content: "";
    visibility: visible;
    position: absolute;
    height: 16x;
    width: 16px;
    border: 0px;
    border-radius: 50%;
    background-color: #0C0C0E;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.about-pagination input[type=radio]:checked:before {
    background-color: #BB945F;
    cursor: auto;
}

/* favorites */
.season-books-container {
    display: flex;
    justify-content: center;
}

.season-books {
    opacity: 0;
    transition: opacity 200ms linear, z-index 0ms linear 200ms;
    position: absolute;
    z-index: -2;
    margin: 0px 20px 0px 20px;
    max-width: 1400px;
}

.season-books.show {
    opacity: 1;
    transition: opacity 200ms linear 200ms, z-index 0ms linear 200ms;
    position: relative;
    z-index: 1;
    margin: 0px;
}

.favorites-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    width: auto;
    margin: 0px;
}

.favorites-radio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-wrap: wrap;
    max-width: 700px;
}

.favorites-seasons-button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 20px;
}

.favorites-seasons-button input[type=radio] {
    visibility: hidden;
    position: relative;
    margin: 0%;
    width: 17px;
    height: 17px;
}

.favorites-seasons-button input[type=radio]:hover {
    cursor: pointer;
}

.favorites-seasons-button input[type=radio]:before {
    content: "";
    visibility: visible;
    position: absolute;
    height: 17x;
    width: 17px;
    background: url(./assets/icons/radio.svg), #FFF 50% / cover no-repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.favorites-seasons-button input[type=radio]:checked:before {
    background: url(./assets/icons/radio-check.svg), #FFF 50% / cover no-repeat;
}

.favorites-seasons-button input[type=radio]:checked+span {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.favorites-seasons-button-span-winter {
    width: 68px;
}

.favorites-seasons-button-span-spring {
    width: 62px;
}

.favorites-seasons-button-span-summer {
    width: 79px;
}

.favorites-seasons-button-span-autumn {
    width: 74px;
}

.favorites-text {
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 24px;
}

.favorites-card {
    width: 590px;
    height: 555px;
    display: flex;
    flex-direction: row;
}

.favorites-items {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin: 0px;
}

.favorites-card-frame {
    width: 548px;
    height: 553px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.favorites-card-span-staff {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 15px 0px 0px 20px;
}

.favorites-card-staff-underline {
    width: 60px;
    height: 1px;
    background: #BB945F;
    margin-left: 20px;
}

.favorites-book-img {
    position: relative;
    top: 255px;
    left: -160px;
    width: 200px;
    height: 300px;
}

.favorites-book-name {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.favorites-book-author {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.favorites-book-name-author {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0px 15px 20px;
    height: 463px;
}

.favorites-book-description {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 357px;
    margin: 20px 0px 15px 0px;
}

.favorites-buy-form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
}

.favorites-buy-book-button {
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    background-color: #FFF;
    justify-self: flex-end;
}

.favorites-buy-book-button:focus {
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #FFF;
}

.favorites-buy-book-button:hover {
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #BB945F
}

.favorites-own-book-button {
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #BB945F;
    color: #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    background-color: #FFF;
    justify-self: flex-end;
}

/*
.favorites-own-book-button:focus {
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #BB945F;
    color: #fff;
    background: #BB945F;
}

.favorites-own-book-button:hover {
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
}
*/

/* coffee shop */
.coffee-shop-text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1.99px;
    width: auto;
    margin: 0px;
}

.coffee-shop-menu {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.coffee-shop-menu-drinks {
    display: flex;
    width: 441px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.coffee-shop-menu-desserts {
    display: flex;
    width: 482px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    justify-self: right;
    margin-left: auto;
}

.coffee-shop-menu-heading {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.coffee-shop-menu-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 40px;
    width: auto;
}

.coffee-shop-menu-item-text {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    height: 40px;
    width: 199px;
}

.coffee-shop-menu-item-text-dessert {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    height: 40px;
    width: auto;
}

.coffee-shop-menu-item-price {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    width: auto;
}

.coffee-shop-menu-item-separator {
    width: 100px;
    height: 1px;
    background: #BB945F;
}

/* contacts */
.contacts-info {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    width: auto;
    height: auto;
}

.contacts-info-address {
    width: 505px;
    height: 380px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    flex-direction: column;
    margin-right: auto;
}

.contacts-info-address-heading {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contacts-info-address-phone {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
}

.contacts-info-address-text {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    height: 40px;
}

.contacts-info-address-text a {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    height: 40px;
}

.contacts-info-address-text a:hover {
    text-decoration: underline;
}

.contacts-info-address-text-bold a {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contacts-info-address-text-bold a:hover {
    text-decoration: underline;
}

.contacts-info-address-staff {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.contacts-info-map {
    background: url(./assets/images/map.png) lightgray 50% / cover no-repeat;
    width: 696px;
    height: 414px;
    margin-left: auto;
}

/* library card */
.library-card-content {
    width: 100%;
    height: auto;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.library-card-find {
    width: 600px;
    height: 453px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.library-card-find-heading {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.library-card-find-form {
    width: 594px;
    height: 380px;
    margin-bottom: 1px;
    flex-shrink: 0;
    border: 3px solid #BB945F;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.library-card-find-form-inputs {
    width: 560px;
    height: 272px;
    flex-shrink: 0;
    background: #BB945F;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 17px;
}

.library-card-find-form-inputs span {
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin: 20px 0px 0px 20px;
}

.library-card-find-form-inputs input[type="text"] {
    width: 500px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    border: 0px;
    margin: 20px 20px 5px 20px;
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding: 8px 0px 8px 20px;
}

.library-card-find-form-inputs input[type="text"]:focus {
    color: #BB945F;
}

.library-card-find-form-inputs form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.library-card-find-form-inputs input[type="submit"] {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    align-self: center;
    width: 242px;
    height: 44px;
    margin-top: 40px;
    background-color: #FFF;
}

.library-card-find-form-inputs input[type="submit"]:focus {
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #FFF;
}

.library-card-find-form-inputs input[type="submit"]:hover {
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #BB945F;
}

.library-card-get {
    width: 456px;
    height: auto;
    flex-shrink: 0;
    gap: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.library-card-get-heading {
    color: #000;
    text-align: center;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.library-card-get-text {
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.4px;
    width: 456px;
}

.library-card-get-buttons {
    display: inline-flex;
    gap: 20px;
}

.library-card-get-buttons button {
    display: flex;
    width: 75px;
    height: 30px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: #FFF;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.library-card-get-buttons button:focus {
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #FFF;
}

.library-card-get-buttons button:hover {
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #BB945F
}

/* footer */

.footer {
    width: auto;
    height: 186px;
    background: #0C0C0E;
    padding: 20px 20px 44px 20px;
}

.footer-info {
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-info-map-social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.footer-info-timetable {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.footer-address {
    max-width: 229px;
}

.address-link {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer-social-media {
    display: flex;
    width: 102px;
    height: 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 0%;
    margin: auto 0px auto 0px;
}

.days {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer-separator {
    width: auto;
    height: 1px;
    background: #FFF;
}

.footer-rs-info {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 42px;
}

.footer-rs-info-year {
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    width: 113px;
}

.footer-rs-info-rs-block {
    display: flex;
    width: 301px;
    height: 22px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: top;
    flex-shrink: 0;
}

.footer-rs-info-rs-link {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
}

.footer-me-block {
    display: inline-flex;
    width: 113px;
    height: auto;
    flex-direction: column;
    flex-shrink: 0;
}

.footer-me-link {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    height: auto;
}

.footer a:hover {
    color: #BB945F;
}

/* Auth */
.form-modal-background {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
}

.form-modal-background.show {
    display: flex;
}

.auth-modal {
    padding: 20px 25px 20px 25px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    position: absolute;
    z-index: 11;
}

.auth-modal-form {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.close-modal {
    right: 13px;
    top: 13px;
    width: 19px;
    height: 19px;
    position: absolute;
}

.auth-modal-heading {
    color: #000;
    text-align: center;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.auth-modal-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.auth-modal-fields-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.auth-modal-fields-field-heading {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
}

.auth-modal-fields-field-input {
    width: 198px;
    height: 18px;
    border: 1px solid #BB945F;
    padding: 0px;
}

.auth-submit-form {
    width: 75px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #000;
    background-color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.auth-submit-form:hover {
    cursor: pointer;
    border: 1px solid #BB945F;
    background: #BB945F
}

.auth-modal-footer {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.auth-modal-footer-text {
    color: #000;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.auth-footer-link {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-decoration-line: underline;
}

.auth-footer-link:hover {
    color: #BB945F;
}

/* Media*/

@media screen and (max-width: 768px) {
    .favorites-radio {
        position: sticky;
        top: 0;
        z-index: 5;
        background-color: #FFF;
        padding: 20px 0px 20px 0px;
        margin: -20px 0px -20px 0px;
    }
}

@media screen and (max-width: 1024px) {
    .nav {
        display: flex;
        position: absolute;
        width: auto;
        right: 0px;
        height: auto;
        background-color: #0C0C0E;
        transform: translateY(-330px);
        transition: all 300ms;
        padding: 10px 107px 100px 107px;
        opacity: 0;
    }

    .nav.menu-active {
        display: flex;
        position: absolute;
        right: 0px;
        background-color: #0C0C0E;
        padding: 10px 107px 100px 107px;
        flex-direction: column;
        align-items: center;
        transform: translateY(285px);
        gap: 30px;
        opacity: 1;
    }

    .nav-list {
        flex-direction: column;
        width: auto;
        min-width: 118px;
    }

    .nav-list li {
        max-height: 50px;
    }

    .nav-list-item {
        max-height: 50px;
    }

    .hamburger-menu {
        display: flex;
        z-index: 5;
    }

    .profile {
        z-index: 5;
    }

    .hamburger-menu .icon-cross {
        display: none;
    }

    .hamburger-menu.menu-active .icon-cross {
        display: flex;
        margin-left: 4.5px;
        margin-right: 4.5px;

    }

    .hamburger-menu.menu-active .icon-burger {
        display: none;
    }
}

@media screen and (max-width: 1275px) {
    .favorites-items {
        justify-content: center;
    }
}

@media screen and (max-width: 1439px) {
    .about-images-carousel-carret-buttons {
        display: flex;
        margin-top: 40px;
        position: relative;
        z-index: 1;
    }

    .about-carousel-images {
        max-width: 925px;
    }

    .about-carousel {
        gap: 58px;
    }

    #radio4 {
        display: flex;
    }

    #radio5 {
        display: flex;
    }
}

@media screen and (max-width: 1131px) {
    .about-images {
        gap: 20px;
    }

    .about-carousel-images {
        max-width: 450px;
    }
}

@media screen and (max-width: 1340px) {
    .contacts-info-map {
        margin: auto
    }
}

@media screen and (max-width: 1115px) {
    .library-card-content {
        justify-content: center;
    }

    .library-card-get {
        align-items: center;
        gap: 40px;
    }

    .library-card-get-text {
        text-align: center;
        width: 600px;
    }
}