@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400&display=swap');

body {
    background-size: 100% 100%;
    background-image: url(./assets/img/dontstartnow.png);
    backdrop-filter: blur(5px);
    display: flex;
    height: 100vh;
    margin: 0%;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    padding: 1%;
    align-self: flex-end;
}

a:hover svg path {
    fill: #BB945F;
}

a:hover {
    color: #BB945F;
}

a svg path,
a {
    transition: 200ms linear;
    text-decoration: none;
}

footer span {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 2px;
}

.footer-rs-link img {
    height: 32px;
}